.hero-box span,
.hero-box h1,
.hero-box p {
  margin: 0;
}
.hero-section {
  min-height: 700px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
}
.hero-section {
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}
.hero-box{
    background-color: #FFF3E3;
    width: 643px;
    height: 443px;
    padding-top: 50px;
    font-family: "poopins", sans-serif;
    padding-left: 20px;
}
.hero-box span{
    font-weight: 600;
    
}
.hero-box h1{
  max-width: 400px;
  font-weight: bold;
  font-size: 52px;
  color: #b88e2f;
}
.hero-box p{
    max-width: 500px;
    font-size: 17px;
    font-weight: 500;
}
.hero-box a{
    padding: 15px 42px;
    background-color: #b88e2f;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 40px;
}

